<%- include('../partials/header') %>

    <h1>Quote</h1>
    <div> 
        <blockquote><%= quote.content %> </blockquote>
        -
        <cite> <%= quote.source.title %> </cite>
        ...
        <cite> <%= quote.source.author %> </cite>
    </div>
    <section>
      <button><a href="/quotes/<%=quote.id%>/edit">Edit</a></button>
    </section>
    <section>
        <form action="/quotes/<%=quote.id%>?_method=DELETE" method="POST">
          <button type="submit">Delete Quote</button>
        </form>
      </section>
</body>
</html>
