<%- include('../partials/header') %>

    <title>All Quotes</title>
    <div class="content is-large"> 
        <blockquote><%= quote.content %> </blockquote>
        -
        <cite> <%= quote.source.title %> </cite>
        ...
        <cite> <%= quote.source.author %> </cite>
    </div>
    <section>
      <button class="button is-medium is-rounded is-warning"><a href="/quotes/<%=quote.id%>/edit">Edit</a></button>
    </section>
    <section>
        <form action="/quotes/<%=quote.id%>?_method=DELETE" method="POST">
          <button type="submit" class="button is-medium is-rounded is-danger">Delete Quote</button>
        </form>
      </section>
</body>
</html>
